* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
     margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* PANELS */
.panel {
  height: 100vh;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: opacity 0.4s ease-out;
}

/* Correct background paths from images folder */
#img1 {
  background-image: url("images/1.jpg");
}
#img2 {
  background-image: url("images/2.jpg");
}
#img3 {
  background-image: url("images/3.jpg");
}
#img4 {
  background-image: url("images/4.jpg");
}
#img5 {
  background-image: url("images/5.jpg");
}   
#img6 {
  background-image: url("images/6.jpg");
}
#img7 {
  background-image: url("images/7.jpg");
}
#img8 {
  background-image: url("images/8.jpg");
}

@keyframes float {
  0% { transform: translateY(3px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(3px); }
}
